.nav-link,
.dropdown-item,
#about h1 {
  font-family: "Orbitron", sans-serif;
}

#about h1 {
  font-size: 2em;
}

p {
  font-family: "Caveat", cursive;
}

.gray {
  background-color: gray;
}

.coral {
  background-color: coral;
}

.teal {
  background-color: teal;
}
